<!DOCTYPE html>
<html>
    <head>
        
        <link rel = "stylesheet" href="<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" href = "/app.css">
    </head>
    <body>
                
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <div class="navbutton">
                            <a href="/"> About Us  </a>
                            <a class="payment" href="/bok/pay"> Payment </a>
                            <a id="booking" href="/bok"> Book Now </a>
                            
                            <!--<form class="form-inline my-2 my-lg-0">-->
                            <!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                            <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                            <!--</form>-->
                            
                            <div class="log">
                                <a class="login" href="/login"> Sign In </a>
                                <a id="signout" href="/"> Sign Out </a>
                            </div>
                        </div>
                        
                    </ul>
                </div>
            </div>
        </nav>
    
