<%- include("partials/header") %>

    <lb>
        
   
    <h1>
        
        Thank You :)
        <p>
           
        </p>
        Your payment has completed successfully.
        <a href="/"> Go To Back </a>
    </h1>

<%- include("partials/footer") %>
